@media screen and (min-width: 500px) {
    .loremSearch {
        grid-column: 1 / 4;
    }
    .userConnexion div {
        display: flex;
    }
    .userConnexion a i {
        margin-left: 5px;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        
    }
    nav ul {
        grid-column: 2 / 3;
    }
    .userConnexion {
        justify-content: center;
    }
    
}


@media screen and (min-width: 768px) {
    .sortingTrip {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .sortingTrip p {
        display: block;
        grid-column: 3 / 4;
        text-align: center;
        text-decoration: underline;
        font-size: small;
        
    }
    .sortingTrip .refineSearch {
        grid-column: 1 / 4;
        display: inline-block;
    }
    .sortingTrip .refineSearch button {
        width: 125px;
        border: solid lightgrey 1px;
        background-color: white;
        border-radius: 5px;
    }
    .sortingTrip .refineSearch button:hover {
        background-color: #005589;
        color: white;
    }
    .sortingTrip a {
        color: black;
    }
    .loremSearch {
        grid-column: 1 / 5;
    }
    #card {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav {
        display: grid;
        grid-template-columns: 300px 1fr 200px 200px;
        
    }
    nav ul {
        grid-column: 1 / 2;
    }
    .userConnexion {
        justify-content: end;
    }
   
    .socials {
        display: inline;
        grid-column: 3 / 4;
    }
    .searchBar {
        display: inline;
        grid-column: 4 / 5;
    }
    .socials ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .socials ul li {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 5px;
    }
    .socials ul li a i:hover {
        color: #2169EC;
    }
   
    
}

@media screen and (min-width: 1020px) {
    .loremSearch {
        height: 200px;
    }
   .loremSearch div {
       flex-direction: row;
       margin: 10px;
   }
}
    
