@media screen and (min-width: 500px) {
    .loremSearch {
        grid-column: 1 / 4;
    }
    
    nav {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        
    }
    nav ul {
        grid-column: 2 / 3;
    }
    .userConnexion {
        display: flex;
        justify-content: center;
    }
    .userConnexion button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 25px;
        width: 25px;
        background-color: black;
        border-radius: 50%;
        border: none;
    }
    .userConnexion button:hover {
        background-color: #2169EC;
    }
    footer ul li {
        width: 170px;
    }
    /*-------------------------------
    mediaQueries de la page événements
    */
    .headBand {
        display: block;
        grid-column: 1 / 5;
        margin-top: 10px;
        margin-bottom: 0;
        background-color: lightgray;
    }
    /*----------------------------------
    */
    
}


@media screen and (min-width: 768px) {
    .sortingTrip {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .sortingTrip p {
        display: block;
        grid-column: 3 / 4;
        text-align: center;
        text-decoration: underline;
        font-size: small;
        
    }
    .sortingTrip .refineSearch {
        grid-column: 1 / 4;
        display: inline-block;
    }
    .sortingTrip .refineSearch button {
        width: 125px;
        border: solid lightgrey 1px;
        background-color: white;
        border-radius: 5px;
    }
    .sortingTrip .refineSearch button:hover {
        background-color: #005589;
        color: white;
    }
    .sortingTrip a {
        color: black;
    }
    .loremSearch {
        grid-column: 1 / 5;
    }
    #card {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav {
        display: grid;
        grid-template-columns: 300px 1fr 200px 200px;
        
    }
    nav ul {
        grid-column: 1 / 2;
    }
    .userConnexion {
        justify-content: start;
    }
   
    .socials {
        display: inline;
        grid-column: 3 / 4;
    }
    .searchBar {
        display: inline;
        grid-column: 4 / 5;
    }
    .socials ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .socials ul li {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 5px;
    }
    .socials ul li a i:hover {
        color: #2169EC;
    }
    footer div br  {
        display: none;
    }
   
    
}

@media screen and (min-width: 1020px) {
    .loremSearch {
        height: 200px;
    }
   .loremSearch div {
       flex-direction: row;
       margin: 10px;
   }
   #link {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr ;
   }
}

@media screen and (min-width: 1250px) {
    .carousel {
        display: flex;
        justify-content: center;
    }
    #carouselExampleIndicators {
        width: 1250px;
    }
}

/*-----------------------------------------------
mediaqueries page événements
*/
@media screen and (min-width: 1003px) {
    main {
        width: 100%;
        height: 100vh;
    }
      main .leftBox {
          width: 40%;
          height: 100%;
          float: left;
          padding: 50px;
      }
      main .leftBox .content {
          padding: 40px;
      }
      main .leftBox .content:hover h1 {
          font-size: 35px;
      }
      main .events {
          position: relative;
          width: 60%;
          height: 100%;
          background: transparent;
           float: right;
      }
      main .events ul {
          position: absolute;
          padding: 40px 40px 40px 40px;
          
      }
      main .events ul li {
          height: 255px;
      }
      main .events ul li .time {
          padding: 20px;
          width: 30%;
          height: 100%;
      }
      main .events ul li .time h2 {
          font-size: 60px;
          line-height: 30px;
      }
      main .events ul li .time h2 span {
          font-size: 30px;
    
      }
      main .events ul li .details {
          width: 70%;
          float: left;
      }
      main .events ul li .details h3 {
          margin: 0;
      }
      main .events ul li .details p {
          margin: 10px 0 0;
      }
      main .events ul li .details a {
          padding: 10px 15px;
          margin-top: 15px;
      }
    
}
    
