body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    box-sizing: border-box;
    
}
nav {
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 10;
    width: 100%;
    font-size: 18px;
    position: relative;
    top: 0;
    justify-content: center;
    margin-bottom: 0;
}
nav > ul {
    
    display: flex;
    text-align: center;
    height: 30px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    
}
nav > ul > li {
    background: white;
    position: relative;
    height: 100%;
    flex: 1;
}
nav > ul > li:hover > a {
    color: #2169EC;
  }
nav > ul > li > a {
     transform: translate(-50%, -50%);
}
li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.menu-deroulant > a:after {
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    
}
.menu-deroulant:hover > a:after {
    animation: rotationFleche 0.2s linear forwards;
}

.sous-menu {
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
    text-align: left;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
} 
.sous-menu > li > a {
    height: 50px;
    padding: 2px;
    width: 100%;
    align-items: center;
    display: flex;
}

.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}
.sous-menu > li:hover > a {
    color: white;
}
.userConnexion div {
    display: none;
}
.userConnexion  {
    display: flex;
   align-items: center;
}
.userConnexion a {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.userConnexion a:hover {
    color: #2169EC;
}

.socials, .searchBar {  
 display: none;
}
.menu div a:hover {
    color: white;
}

.loremSearch {
    background-image: url("/images/alpes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.loremSearch div {
   margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
}
.loremSearch h1 {
    text-align: center; 
    margin: 0; color: white;
    font-size: 30px;
    padding: 5px;
}
.loremSearch div button {
    height: 45px;
    width: 80%;
    background: #005589;
     border: none;
     border-radius: 5px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     }
.loremSearch div button a {
         color: white;
         text-decoration: none;
     }
#site-search {
    margin: 10px;
    width: 80%;
    height: 45px;
    border: none;
    border-radius: 5px;
}
 .sortingTrip h2 {
    text-align: center;
    font-size: 1.2em;
    line-height: 1em;
    margin: 0;
}
.sortingTrip p {
    display: none;
}
.sortingTrip .refineSearch {
    display: none;
}

.card {
    width: 320px;
    height: 500px;
    margin: 10px;
    background: white;
    box-shadow: 0px 5px 20px #999;
    
}
.card:hover .card-img img {
    width: 160%;
    filter: grayscale(0);
}
.card-img {
    z-index: 1;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.card-img img {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);
    transition-property: filter width;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.card-body {
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}
#card {
    display: flex;
    flex-direction: column;
      align-items: center;
}
.priceEstimation {
    text-align: center;
}
.priceEstimation span a:visited {
color: black;
}



@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }