:root {
    --hauteur-menu: 25px;
}

body {
    
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    
    
}

nav {
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 10;
    width: 100%;
    font-size: 18px;
    position: relative;
    top: 0;
    align-items: baseline;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
nav ul, .sous-menu li a, .userConnexion a, .loremSearch div, #card, footer ul {
    display: flex;
}
nav > ul {
    justify-content: center;
    text-align: center;
    height: var(--hauteur-menu);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    
}
nav > ul > li {
    position: relative;
    height: 100%;
    flex: 1;
}
nav > ul > li:hover > a {
    color: #2169EC;
  }
nav > ul > li > a {
    font-weight: bold;
     transform: translate(-50%, -50%);
}
 nav li a {
    color: black;
    font-size: 14px;
}
.menu-deroulant > a:after {
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    
}
.menu-deroulant:hover > a:after {
    animation: rotationFleche 0.2s linear forwards;
}

.sous-menu {
    flex-direction: column;
    margin-left: 5px;
    width: 100%;
    text-align: left;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
} 
.sous-menu > li > a {
    height: 50px;
    padding: 2px;
    width: 100%;
    align-items: center;
    
}

.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}
.sous-menu > li:hover > a {
    color: white;
}
.userConnexion {
    display: none;
}
.socials, .searchBar {  
 display: none;
}
.menu div a:hover {
    color: white;
}

.loremSearch {
    background-image: url("/images/alpes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 10px;
}
.loremSearch div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
}
.loremSearch h1 {
    text-align: center; 
    margin: 0; color: white;
    font-size: 30px;
    padding: 5px;
}
.loremSearch div button {
    height: 45px;
    width: 80%;
    background: #005589;
     border: none;
     border-radius: 5px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     }
.loremSearch a {
         color: white;
     }
.loremSearch a:hover {
         color: lightgray;
     }
#site-search {
    margin: 10px;
    width: 80%;
    height: 45px;
    border: none;
    border-radius: 5px;
}
 .sortingTrip h2 {
    text-align: center;
    font-size: 1.2em;
    line-height: 1em;
    margin: 0;
}
.sortingTrip p {
    display: none;
}
.sortingTrip .refineSearch {
    display: none;
}

.card {
    width: 320px;
    height: 500px;
    margin: 10px;
    background: white;
    box-shadow: 0px 5px 20px #999;
    
}
.card:hover .card-img img {
    width: 160%;
    filter: grayscale(0);
}
.card-img {
    z-index: 1;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.card-img img {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);
    transition-property: filter width;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.card-body {
    text-align: center;
    padding: 15px 20px;
}
#card {
    flex-direction: column;
      align-items: center;
}
.priceEstimation {
    text-align: center;
}
.priceEstimation span a:visited {
color: black;
}

section {
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}
section .backgroundImage {
    margin: 0;
    padding: 0;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

}
section h3 {
    margin-top: 5px;
    margin-left: 5px;
    color: #005589;
}
section p {
    font-size: 0.9rem;
    height: 75px;
}
section a {
    font-weight: bold;
    color: #005589;
    text-decoration: none;
    font-size: 0.9rem;
}
section a:after {
    content: '❯';
}
.logo {
    height: 200px;
    background-image: url(/images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.carousel {
    margin: 10px; 
}

footer {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: #005589;
}
footer div {
    text-align: center;
    padding-top: 5px;
}
footer ul {
    justify-content: center;
    padding: 0;
    margin-bottom: 5px;
}
footer ul li  {
    text-align: center;
    width: 100px;
    margin-top: 10px;
    flex-direction: column;
    list-style-type: none;
}
footer a {
    color: white;
    text-decoration: underline;
}
footer a:hover {
    color: lightgray;
}






@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

  /* -------------------------------------
  style css de la page événements
  */
  .headBand {
      display: none;
  }
  .breadcrumb {
    margin : 0;
    margin-left: 10px;
  }
  .nreadCrumb li a:hover {
      color: #005589;
  }
  main {
    height: 100%;
}
  main .leftBox {
      width: 100%;
      height: auto;
      padding: 20px;
  }
  main .leftBox .content {
      color: #fff;
      background: rgba(0,0,0,.5);
      padding: 20px;
      transition: .5s;
  }
  main .leftBox .content:hover {
      background: #005589;
  } 
  main .leftBox .content:hover h1 {
      margin: 0;
      padding: 0;
      font-size: 30px;
      text-transform: uppercase;
  }
  main .leftBox .content:hover p {
      margin: 10px 0 0;
      padding: 0;
  }
  main .events {
      width: 100%;
      height: auto;
  }
  main .events ul {
      margin: 0;
      padding: 0 20px 20px;
  }
  main .events ul li {
      list-style: none;
      background: #fff;
      height: auto;
      margin: 15px 0;
  }
  main .events ul li .time {
      position: relative;
      background: #262626;
      width: 80px;
      height: 80px;
      float: left;
      text-align: center;
      transition: .5s;
  }
  main .events ul li:hover .time {
      background: #005589;
  }
  main .events ul li .time h2 {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #fff;
      font-size: 30px;
      line-height: 24px;
  }
  main .events ul li .time h2 span {
      font-size: 20px;

  }
  main .events ul li .details {
      padding: 20px;
      background: #fff;
      height: 100%;
  }
  main .events ul li .details h3 {
      font-weight: bold;
      position: relative;
      margin-left: 80px;
      padding: 0;
      font-size: 22px;
  }
  main .events ul li .details p {
      position: relative;
      padding: 0;
      font-size: 16px;
  }
  main .events ul li .details a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      padding: 5px 10px;
      border: 2px solid #262626;
      margin-bottom: 5px;
      font-size: 18px;
      transition: .5s;
      float: right;
  }
  main .events ul li .details a:hover {
      background: #005589;
      color: #fff;
      border-color: #005589;
  }